<div class="card" style="width: 10rem;height: 100%">
  <img [src]="'http://localhost:8083/file/'+song.avatar" class="card-img-top" alt="..." style="width: 10rem; height: 12rem; padding: 5px" (click)="emitView()">
  <div class="card-body">
    <p class="card-title" style="color: blue; text-shadow: magenta 2px 2px 6px"
       (click)="emitView()"> {{ song.name }}</p>
    <!--    <p class="card-text"> {{ playlist.playlistDescription }} </p>-->
    <p>Luot nghe: {{song.listenSong}}</p>
    <input type="button" value="Edit" (click)="editSong(song)">
    <input type="button" value="Delete" (click)="deleteSong(song)">
  </div>
</div>
