<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="top-bar">
    <a class="logo" href="/">Zing mp3</a>
    <div class="menu-bar">
      <div class="nav">
        <ul class="nav">
          <li class=""><a class="nav-link text-uppercase active" routerLink="">Trang chủ</a></li>
          <li class=""><a class="nav-link text-uppercase " href="#">#zingchart</a></li>
          <li class=""><a class="nav-link text-uppercase " href="#">Top 100</a></li>
          <li class=""><a class="nav-link text-uppercase " href="#">Chủ đề</a></li>
          <li class="--z--shrink"><a class="nav-link text-uppercase " href="#">MV</a></li>
          <li class="--z--shrink"><a class="nav-link text-uppercase " routerLink="song/songList">Album</a></li>
          <li class="--z--shrink"><a class="nav-link text-uppercase " href="#">Nghệ sĩ</a></li>
          <li><a class="nav-link " routerLink="/playlist">NHẠC CÁ NHÂN</a></li>
        </ul>
      </div>
    </div>
    <div class="header-search-wrap">
      <form>
        <div class="react-autosuggest__container">
          <div class="input-group header-search-group">
            <label>
              <i class="fa fa-search"></i>
              <div class="input-wrapper">
                <input type="text" autocomplete="off" aria-autocomplete="list"
                       aria-controls="react-autowhatever-1"
                       class="form-control input-placeholder"
                       placeholder="Nhập tên bài hát, ca sĩ hoặc mv…" value="" style="width: 500px"
                       (change)="Search($event)">
              </div>
            </label>
          </div>
          <div class="--z--clip-header"></div>
        </div>
      </form>
    </div>
    <div class="user-profile-container ">
      <div class="login-wrap pull-right">
        <div class="card-40 nav">
          <ul class="nav">
            <a role="button" class="thumb-40">
              <img src="https://avatar.talk.zdn.vn/default.jpg" alt="Zing MP3"
                   style="width: 40px; height: 40px; border-radius: 50%">
            </a>
          </ul>
          <ul class="nav">
            <div class="card-info">
              <div class="title mar-top-10 dropdown">
                <a role="button" class="btn" type="button" routerLink="auth/login">{{userName}}</a>
                <a role="button" class="btn dropdown-toggle" type="button"
                   id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <ul class="z-user-menu-list dropdown-item">
                    <li><a><i class="icon ic-brightness"></i><span routerLink="/register">Đăng ký</span><i
                      class="icon ic-svg-switch z-switch-off"></i></a>
                    </li>
                  </ul>
                  <ul class="z-user-menu-list dropdown-item">
                    <li><a><i class="icon ic-brightness"></i><span>Đăng xuất</span>
                      <i class="icon ic-svg-switch z-switch-off"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
