<h2>danh sach</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col" hidden>#</th>
    <th scope="col">Tên bài hát</th>
    <th scope="col">Avatar</th>
    <th scope="col">Nghe Nhạc</th>
    <th></th>
  </tr>
  </thead>
  <tbody *ngFor="let item of playlist.songs">
  <tr>
    <td scope="row" hidden>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td><img src="http://localhost:8083/file/{{item.avatar}}" style="width: 100px; height: 100px"></td>
    <td>
      <audio controls>
        <source src="http://localhost:8083/file/{{item.fileMp3}}" type="audio/mpeg">
        <source src="http://localhost:8083/file/{{item.fileMp3}}" type="audio/ogg">
      </audio>
    </td>
  </tr>
  </tbody>
</table>
