<div class="col-6" style="float: left">
  <input type="text" placeholder="search">
<!--  <div class="col-5"  *ngFor="let itemSong of songList">-->
<!--    <span>{{itemSong.name}}</span>-->
<!--    <input type="button" value="chon" (change)="addSongToPlaylist(songList.indexOf(itemSong))">-->
<!--  </div>-->
  <app-all-song></app-all-song>
</div>

<div class="col-6" style="float: left">
<!--  <h3>{{playlist.playlistName}}</h3>-->
<!--  <div class="col-5">-->
<!--    <p>{{item.name}}</p>-->
<!--    <input type="button" value="xoa" (change)="deleteSongToPlaylist(playlist.songs.indexOf(item))">-->
<!--  </div>-->
  <app-song-playlist [playlist]="playlist"></app-song-playlist>
</div>
