<br>
<div class="col-12 border" *ngIf="playlist">
  <br>
  <mat-advanced-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false"
                             muted="muted" [displayPlaylist]="msaapDisplayPlayList"
                             [pageSizeOptions]="msaapPageSizeOptions"
                             [displayVolumeControls]="msaapDisplayVolumeControls"
                             [expanded]="true"></mat-advanced-audio-player>
</div>
<br>
<div>
  <div class="col-9" style="float: left">
    <span style="float: left">Đăng bởi: {{username}}</span>
  </div>
  <div class="col-3" style="float: left">
    <a (click)="clickLike(); isHidden()" id="click1" style="position: absolute; cursor: pointer"><i
      class="fa fa-thumbs-up fa-2x"></i></a>
    <a (click)="clickUnLike(); isHidden()" id="click2" style="position: absolute; cursor: pointer"><i
      class="fa fa-thumbs-o-up fa-2x"></i></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fa fa-2x border" style="">{{num}}</span>
  </div>
</div>
<br>
<div class="col-6 border" style="float: left">
  <input type="text" placeholder="search">
  <br>
  <table class="table">
    <thead>
    <tr>
      <th>Danh sách bài hát</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let itemSong of songList">
      <td>{{itemSong.name}}</td>
      <td><input type="button" value="Thêm vào Playlist"
                 (click)="addSongToPlaylist(itemSong); onChangeBox(itemSong.id)"></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-6 border" style="float: left">
  <p>{{playlist.playlistName}}</p>
  <input  type="button" value="xoa" (click)="deletePlaylist(playlist.id)">
  <form [formGroup]="playlistForm" (ngSubmit)="onSubmit()">
    <table class="table">
      <thead>
      <tr>
        <th>Danh sách bài hát</th>
        <th><input type="submit" value="Lưu"></th>
      </tr>
      </thead>
      <tbody *ngFor="let item of playlist.songs">
      <tr>
        <td>{{item.name}}</td>
        <td><input type="button" value="xoa"
                   (click)="deleteSongToPlaylist(item); onChangeBox(item.id)"></td>
      </tr>
      </tbody>
    </table>
    <input type="button" value="trở về" (click)="goBack()">
  </form>
</div>
